@use '../abstracts' as *;

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: space(20) space(50);
    gap: space(20);

    &__breadcrumb {
        margin-left: space(20);
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: space(20);
        gap: space(40);
    }

    &__image-wrapper {
        width: 75%;
        border-radius: radius(sm);
        box-shadow: shadow(sm);
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: space(20);
        width: 50%;
        padding: space(30);
        box-shadow: shadow(sm);
        border-radius: radius(sm);
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: space(10);

        &--call {
            border-bottom: rgb(184, 184, 184) solid 1px;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: space(15);
    }

    &__icon {
        font-size: font-size(xl);
        color: color(white);
        background-color: color(primary);
        border-radius: radius(round);
        padding: space(10);
    }

    &__title {
        font-size: font-size(lg);
        color: color(black);
    }

    &__text {
        font-size: font-size(md);
        color: color(black);
        margin-top: 0px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: space(20);
        width: 90%;
    }

    &__form-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: space(20);
        width: 100%;
        margin-top: 0px;
    }

    &__textarea {
        width: 100%;
        padding: space(10);
        background-color: color(gray-100);
        border-radius: radius(sm);
        border: none;

        &:focus {
            border: 1px solid color(gray-300);
            outline: none;
        }
    }
}