@use '../abstracts' as *;

.not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__breadcrumb {
    margin: space(20);

   @include respond-min(sm) {
      margin-left: 150px;
    }
  }

  &__content {
    align-self: center;
    text-align: center;
    padding: space(100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: space(20);
    
    @include respond-max(sm) {
      padding: space(40) space(20);
    }  
  }

  &__title {
    font-size: font-size(hero);
    color: color(black);
    margin: 0;
    letter-spacing: space(5);
  }

  &__text {
    font-size: font-size(lg);
    color: color(black);
  }

  &__button {
    display: inline-block;
    padding: space(10) space(20);
    background-color: color(primary);
    color: color(white);
    text-decoration: none;
    border-radius: radius(sm);
    transition: transition(base);

    &:hover {
      background-color: color(primary-hover);
      transform: translateY(-#{space(5)});
    }
  }
}