@use '../abstracts' as *;

.product-details {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__breadcrumb {
    align-self: flex-start;
    margin: space(20) 125px;
    
    @include respond-max(sm) {
      margin: space(20);
    }
  }

  &__related {
    margin-top: 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: space(20);
    justify-content: flex-start;
  }

  &__related-header {
    display: flex;
    align-items: flex-start;
  }
}