@use '../../abstracts' as *;

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: color(gray-500);
  font-size: 17px;

  &__link {
    color: color(gray-500);
    text-decoration: none;
    transition: transition(base);

    &:hover {
      color: color(primary);
    }
  }

  &__separator {
    color: color(gray-500);
    margin: 0 space(10);
  }

  &__current {
    color: color(black);
  }
}