@use '../../abstracts' as *;

.cart-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: space(10);
  max-width: 550px;
  width: 100%;
  margin: space(5) auto space(5);
  box-sizing: border-box;
}

.cart-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: space(15);
  padding: space(15) 0;
  border-radius: radius(sm);
  box-shadow: shadow(sm);
  transition: transition(base);
  cursor: pointer;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;

  &:hover {
    box-shadow: shadow(md);
    transform: translateY(-#{space(10)});
    background-color: color(gray-100);

    .cart-card__remove {
      &:hover {
        transform: scale(1.1);
        color: color(primary-hover);
      }
    }
  }

  &__remove,
  &__image,
  &__quantity,
  &__price {
    flex-shrink: 0;
  }

  &__remove {
    color: color(primary);
    font-size: font-size(xl);
    transition: transition(base);
    cursor: pointer;
  }

  &__image {
    width: 70px;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  &__title {
    flex: 0.8;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: font-size(md);
  }

  @include respond-max(xs) {
    flex-direction: column;
    align-items: flex-start;
    padding: space(15);
    gap: space(10);
  }

  &__image {
    @include respond-max(xs) {
      width: 100%;
      max-width: 120px;
    }
  }

  &__title {
    @include respond-max(xs) {
      white-space: normal;
    }
  }
}