@use '../../abstracts' as *;

.footer {
  background-color: color(black);
  color: color(white);
  margin-top: space(50);
  font-family: $font-family-base;
  text-align: left;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: space(50) space(20) space(10);
    max-width: 1200px;
    margin: auto;
    gap: space(30);
  }

  &__brand {
    flex: 1 1 250px;
    min-width: 250px;
  }

  &__title {
    font-size: font-size(display-sm);
    margin: space(0);
  }

  &__text {
    margin: space(10) 0 space(20) 0;
    font-size: font-size(md);
    color: color(white);
  }

  &__newsletter {
    position: relative;
    width: 100%;
    max-width: 190px;
  }

  &__input {
    width: 100%;
    padding: space(10) 36px space(10) space(12);
    border: 1px solid color(white);
    border-radius: radius(sm);
    outline: none;
    background-color: black;
    color: color(white);
    font-size: font-size(md);
  }

  &__send-icon {
    position: absolute;
    right: 0;
    left: 160px;
    top: 50%;
    transform: translateY(-50%);
    color: color(white);
    width: 18px;
    height: 18px;
    cursor: pointer;

    i {
      transition: transition(base);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__links {
    display: flex;
    flex: 2 1 500px;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: space(20);
  }

  &__links-section {
    flex: 1 1 150px;
    min-width: 0;
  }

  &__links-title {
    font-size: font-size(xl);
    margin-bottom: space(10);
  }

  &__link {
    display: block;
    color: color(gray-300);
    text-decoration: none;
    margin: space(20) 0;
    font-size: font-size(md);
    transition: color 0.2s;

    &:hover {
      color: color(white);
    }
  }

  &__app {
    flex: 1 1 200px;
    min-width: 200px;
  }

  &__download {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: space(20);
  }

  &__qr {
    width: 80px;
    height: 80px;
    margin: space(10) 0;
  }

  &__stores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    margin: space(10) 0;
  }

  &__store-link {
    width: 100px;
    height: auto;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: space(20);
  }

  &__social-icon {
    color: color(white);
    font-size: font-size(xl);
    transition: transition(base);

    &:hover {
      transform: scale(1.2);
    }
  }

  &__bottom {
    text-align: center;
    padding: space(20);
    border-top: 1px solid color(text-dark);
    font-size: font-size(sm);
    margin-top: space(20);
    color: color(gray-300);
  }

  @include respond-max(md) {
    &__content {
      flex-direction: column;
      align-items: flex-start;
    }

    &__links {
      flex-direction: column;
      gap: space(20);
    }

    &__app {
      margin-top: space(30);
    }
  }
}
