.quality {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 30px;
  width: 100%;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 300px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    outline: 8px solid #c1c0c1;
  }

  &__image {
    width: 70%;
    height: 70%;
    transform: translateY(20%);
  }

  &__title {
    font-size: 18px;
    margin: 0;
    color: #000;
  }

  &__description {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #000;
  }

  @media (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    &__card {
      max-width: 250px;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;

    &__card {
      max-width: 100%;
    }

    &__title {
      font-size: 16px;
    }

    &__description {
      font-size: 13px;
    }
  }
}
