@use '../../abstracts' as *;

.product-detail {
  padding: space(20);
  display: flex;
  justify-content: center;

  &__gallery {
    display: flex;
    gap: space(50);
    max-width: 1200px;
    width: 100%;
    align-items: stretch;
  }

  &__thumbs {
    display: flex;
    flex-direction: column;
    gap: space(20);
    width: 100px;
    height: 500px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      cursor: pointer;
      aspect-ratio: 1 / 1;
    }
  }

  &__main-image {
    width: 500px;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: space(30);
    width: 500px;
    height: 500px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: space(5);
    border-bottom: color(text-muted) solid 2px;
  }

  &__title {
    font-size: font-size(display-sm);
    margin: space(0);
  }

  &__category {
    font-size: 15px;
    margin: space(12) 0 0;

    a {
      color: color(black);
      font-weight: bold;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: space(10);
  }

  &__stars {
    font-size: font-size(xl);
    color: color(rating);
    margin: space(0);
  }

  &__reviews {
    font-size: font-size(md);
    color: color(text-muted);
    margin: space(0);
  }

  &__stock {
    font-size: font-size(md);
    margin: space(0);

    &--in {
      color: color(success);
    }

    &--out {
      color: color(primary);
    }
  }

  &__pricing {
    display: flex;
    gap: space(20);
  }

  &__price-original {
    font-size: font-size(xxl);
    font-weight: bold;
    margin: space(0);
    color: gray;
    text-decoration: line-through;
  }

  &__price-discount {
    font-size: font-size(xxl);
    font-weight: bold;
    margin: space(0);
  }

  &__description {
    font-size: font-size(md);
    max-width: 50ch;
    text-align: left;
  }

  &__actions {
    display: flex;
    gap: space(20);
    align-items: center;
  }

  &__wishlist {
    padding: 7px;
    margin-left: space(20);
    background: color(white);
    border-radius: radius(sm);
    border: 1px solid color(gray-300);
    cursor: pointer;
    font-size: large;
    transition: transition(fast);

    &:hover {
      background: color(gray-300);
      border-color: color(text-muted);
    }
  }

  &__delivery {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      gap: space(20);
      padding: space(10) space(10) space(15);
      border: 1px solid color(gray-300);
    }

    &-icon {
      font-size: font-size(display-md);
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h5 {
        margin: space(10) 0;
        font-size: font-size(lg);
      }

      a {
        color: color(black);
        font-size: font-size(xs);
      }
    }
  }

  @include respond-max(xxl) {
    &__gallery {
      flex-direction: column;
      align-items: center;
    }

    &__thumbs {
      flex-direction: row;
      width: 100%;
      height: auto;
      justify-content: center;
    }

    &__main-image,
    &__content {
      width: 100%;
      max-width: 500px;
      height: auto;
    }
  }

  @include respond-max(xs) {
    &__actions {
      flex-direction: column;
      align-items: stretch;
    }

    &__pricing {
      flex-direction: column;
      gap: space(5);
    }
  }  
}