@use '../../abstracts' as *;

.sort-select {
  display: flex;
  align-items: center;
  gap: space(12);

  &__label {
    font-size: font-size(xl);
    margin: 0;
    white-space: nowrap;
  }

  &__control {
    padding: space(10);
    border: 1px solid color(gray-300);
    border-radius: radius(sm);
    min-width: 200px;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #888;
    }
  }
}