@use '../../abstracts' as *;

.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__button {
    margin: space(50);
    align-self: center;

    @include respond-max(sm) {
      margin: space(30) 0;
    }
  }
}