.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__button {
    margin: 50px;
    align-self: center;

    @media (max-width: 768px) {
      margin: 30px 0;
    }
  }
}