@use '../../abstracts' as *;

.base-btn {
  display: inline-block;
  padding: space(10) space(20);
  font-size: font-size(base);
  background-color: color(primary);
  color: color(white);
  border-radius: radius(sm);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: transition(fast);

  &:hover {
    background-color: color(primary-hover);
    transform: translateY(-#{space(5)});
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;

    &:hover {
      transform: none;
      background-color: color(primary);
    }
  }

  &--link {
    display: inline-block;
  }
}