@use '../../abstracts' as *;

.quantity {
  display: flex;
  align-items: center;

  &__button {
    width: 30px;
    height: 35px;
    background-color: color(white);
    color: color(black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid color(gray-300);
    transition: transition(fast);

    &:hover {
      background-color: color(primary);
      border-color: color(primary);
      color: color(white);
    }

    &--minus {
      border-radius: radius(sm) 0 0 radius(sm);
    }

    &--plus {
      border-radius: 0 radius(sm) radius(sm) 0;
    }
  }

  &__value {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: color(white);
    border-top: 1px solid color(gray-300);
    border-bottom: 1px solid color(gray-300);
  }
}