@use '../../abstracts' as *;

.stats {
  display: flex;
  justify-content: space-evenly;
  padding: space(50) space(30);
  gap: space(10);
  margin: space(50);

  @include respond-max(xl) {
    flex-wrap: wrap;
    justify-content: center;
    gap: space(20);
  }

  @include respond-max(sm) {
    margin: space(20);
    padding: space(30) space(10);
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: space(20);
    max-width: 300px;
    border: rgb(178, 178, 178) solid 1px;
    border-radius: radius(sm);
    background-color: color(white);
    padding: space(30);
    transition: transition(base);

    @include respond-max(sm) {
      max-width: 100%;
      width: 100%;
    }

    &:hover {
      background-color: color(primary);
      color: color(white);
      transform: translateY(-#{space(10)});
      border: none;

      .stats__icon {
        background-color: color(white);
        outline: 8px solid #e67c7c;

        i {
          color: color(black);
        }
      }

      .stats__title,
      .stats__description {
        color: color(white);
      }
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    background-color: color(black);
    border-radius: radius(round);
    outline: 8px solid #c1c0c1;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: color(white);
      font-size: font-size(display-md);
    }
  }

  &__title {
    font-size: font-size(lg);
    margin: 0;
    color: color(black);
  }

  &__description {
    margin: space(10) 0 0 0;
    font-size: font-size(md);
    color: color(black);
  }
}