@use '../../abstracts' as *;

.story {
  display: flex;
  flex-direction: row;
  padding: space(50) space(90);
  margin: space(50);
  gap: space(70);
  align-items: center;

  @include respond-max(xl) {
    padding: space(40) space(40);
    gap: space(40);
  }

  @include respond-max(sm) {
    flex-direction: column;
    padding: space(30) space(20);
    margin: space(20);
    gap: space(30);
  }

  &__content {
    flex: 1;
    text-align: left;

    @include respond-max(sm) {
      text-align: center;
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: space(15);

    @include respond-max(sm) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: font-size(lg);
    line-height: 1.5;
    margin-bottom: space(10);

    @include respond-max(sm) {
      font-size: font-size(base);
    }
  }

  &__image {
    width: 500px;
    height: auto;
    border-radius: radius(sm);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    @include respond-max(xl) {
      width: 400px;
    }

    @include respond-max(sm) {
      width: 100%;
      max-width: 350px;
    }
  }
}